.grid{ 
    display: grid;
    grid-template-columns: 400px 400px ;
    margin-top: 5px;

}

.letra {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;  
}