
.icon {
  position: absolute;
  left: 10px;
  top: 1px;
}
.succesBtn {
  outline: none;
  position: relative;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px 15px 5px 40px;
  margin-bottom: 5px;
  margin-right: 20px;
  color: #fff;
  background-color: #1b8014;

}
.succesBtn:hover {
  background-color: #10570b;
}
